$clock-background-color: transparent;
$clock-quadrant-image: url(quadrant1.png);
$clock-color: #FFF;

@keyframes rotate {
    100% {
        transform: rotateZ(360deg);
    }
}

.ert-clock {
    background-color: $clock-background-color;
    background-image: $clock-quadrant-image;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 95%;
    height: 250px;
    position: relative;
    width: 250px;
    max-width: 100%;
    max-height: 100%;

    @media screen and (max-width: 479px) {
        margin: 0 auto 30px auto;
    }

    .ert-clock-center {
        position: absolute;
        top: 50%;
        left: 50%;
        width: 4%;
        height: 4%;
        background-color: $clock-color;
        transform: translate(-50%,-50%);
        border-radius: 50%;
        z-index: 11;
    }

    .ert-clock-minutes-container, .ert-clock-hours-container, .ert-clock-seconds-container {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
    }

    .ert-clock-hours-container {
        animation: rotate 43200s infinite linear;
    }

    .ert-clock-minutes-container {
        animation: rotate 3600s infinite linear;
    }

    .ert-clock-seconds-container {
        animation: rotate 60s infinite steps(60);
    }

    .ert-clock-hours, .ert-clock-minutes, .ert-clock-seconds {
        background-color: $clock-color;
        position: absolute;
        left: 49%;
    }

    .ert-clock-hours {
        z-index: 6;
        width: 32%;
        height: 2.5%;
        top: 48.75%;
        transform-origin: 2.5%;
    }

    .ert-clock-minutes {
        z-index: 7;
        width: 38%;
        height: 2%;
        top: 49%;
        transform-origin: 2%;
    }

    .ert-clock-seconds {
        z-index: 8;
        width: 42%;
        height: 1%;
        top: 49.5%;
        left: 45%;
        transform-origin: 12%;
    }
}